<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ADAuthority" value="https://login.microsoftonline.com/eb9925dd-728d-4b14-8d95-04af41b37dd4"/>
    <add key="ADClientId" value="a256d239-94d3-4e20-a667-e106e2ee9f98"/>
    <add key="ADClientSecret" value="SAfT7@cGA@cB[lA1PWUGA?yK0DB9ePKM"/>
    <add key="ADRedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient"/>
    <add key="ADResourceUri" value="api://core"/>
    <add key="TargetAPIBaseUri" value="https://localhost:44388"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>